.container {
    //     flex: 1;
    //     // width: 100%;
    //     // position: relative;
    //     height: 100%;
    // background: url('../Assets/images/login/oldbg.svg');
    // background-size: cover;
    // background: url('../Assets/images/login/oldbg.svg') left bottom/cover;
    background-attachment: fixed;
    // background-repeat: no-repeat;
    @media (max-width: 1100px) {
        // background: url('../Assets/images/login/loginbackMobile.svg');
        // background-repeat: no-repeat;
        // background-position: bottom;

        background-image: linear-gradient(white, #dadce0);
        //     // background: none;
    }
    .loginMobileImgBottom {
        display: none;
        @media (max-width: 1100px) {
            display: unset;
            position: fixed;
            bottom: 0;
            width: 100vw;
        }
        // @media (max-width: 1100px) and (max-height: 800px) {
        //     opacity: 0.5;
        // }
    }
}
.loginBtn {
    margin-top: 16px;
    flex-grow: 1;
}
.header {
    text-align: center;
    background-color: #212121;
    color: #fff;
}
.card {
    margin-top: 80px;
    width: 500px;
}
.Error {
    color: red !important;
}

.login-getStartedDiv {
    // background: url('../Assets/images/login/loginBackground.svg');

    // background-size: 100;
    height: 100vh;
    max-width: 1920px;
    margin: 0 auto;
    padding: 65px 120px;
    margin-top: 70px;

    // @media (max-width: 2560px) {
    //     padding: 65px 512px;
    // }
    // @media (max-width: 2400px) {
    //     padding: 65px 430px;
    // }
    // @media (max-width: 2300px) {
    //     padding: 65px 380px;
    // }
    // @media (max-width: 2200px) {
    //     padding: 65px 330px;
    // }
    // @media (max-width: 2100px) {
    //     padding: 65px 280px;
    // }
    // @media (max-width: 2000px) {
    //     padding: 65px 230px;
    // }
    @media (max-width: 1920px) {
        padding: 65px 80px;
    }
    @media (max-width: 1700px) {
        padding: 65px 75px;
    }
    @media (max-width: 1100px) {
        padding: 65px 78px;
    }

    // @media (max-width: 2100px) {
    //     height: 95vh;
    // }
    // @media (max-width: 1750px) {
    //     height: 94.5vh;
    // }

    // @media (max-width: 1440px) {
    //     height: 94vh;
    // }

    // @media (max-width: 1366px) {
    //     height: 90vh;
    // }

    // @media (max-width: 1280px) {
    //     height: 92.5vh;
    // }
    // @media (max-width: 1100px) {
    //     background: url('../Assets/images/login/loginbackMobile.svg');
    //     background-repeat: no-repeat;
    //     // background: none;
    // }
    @media (max-width: 1100px) {
        padding: 65px 60px;
    }

    @media (max-width: 768px) {
        padding: 65px 30px;
    }

    @media (max-width: 600px) {
        padding: 0px 12px;
        text-align: center;
        // background: none;
        // background-size: auto;
    }

    .loginContainer {
        // position: fixed;
        @media (max-width: 600px) {
            left: 10px;
            right: 10px;
        }
    }
    .loginContent {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;

        @media (max-width: 2560px) {
            justify-content: space-around;
        }

        @media (max-width: 1920px) {
            justify-content: space-between;
        }

        @media (max-width: 1800px) {
            justify-content: space-between;
        }

        @media (max-width: 1600px) {
            justify-content: space-between;
        }

        @media (max-width: 1500px) {
            justify-content: space-between;
        }
        @media (max-width: 1100px) {
            flex-direction: column;
        }
        // @media (max-width: 1280px) {
        //     justify-content: space-between;
        //     width: 100%;
        // }

        @media (max-width: 600px) {
            flex-direction: column;
            justify-content: unset;
        }
        .forgotPasswordMainText {
            color: #333333;
            font-weight: 800;
            font-size: 16px;
            margin-bottom: 20px;
        }
        .resetedPasswordMain {
            color: #333333;
            font-size: 16px;
            padding: 70px 0;
        }
        .loginWelcomeText {
            color: #333333;
            font-size: 44px;
            font-weight: 900;
            padding-bottom: 21px;
            @media (max-width: 1100px) {
                font-size: 36px;
            }
            @media (max-width: 768px) {
                font-size: 28px;
            }
            @media (max-width: 600px) {
                margin-top: 10px;
            }
        }

        .loginLine {
            width: 136px;
            height: 8px;
            border-radius: 10px;
            @media (max-width: 600px) {
                display: none;
            }
        }

        .loginSignInText {
            color: #333333;
            font-size: 24px;
            padding-top: 21px;
            @media (max-width: 768px) {
                font-size: 22px;
            }
            @media (max-width: 600px) {
                font-size: 20px;
                font-family: 'Lato';
                padding-top: 13px;
            }
            @media (max-width: 320px) {
                font-size: 17px;
            }
        }

        // Login Card
        .login-form-main-div {
            padding: 22px;
            background: #ffffff;
            width: 441px;
            margin-top: 20px;
            box-shadow: 0 3px 6px #00000026;
            border: 1px solid #e0e0e0;

            @media (max-width: 1100px) {
                z-index: 1;
                width: 300px;
            }

            @media (max-width: 768px) {
                width: 320px;
            }

            @media (max-width: 600px) {
                background: transparent;
            }

            .loginCheckWrapper {
                display: flex;
                .PrivateSwitchBase-root-7 {
                    padding: 9px 9px 9px 0;
                }
                .keepMeSignedIn {
                    color: #333333;
                    font-size: 16px;
                    display: flex;
                    flex-direction: column;
                    align-self: center;

                    @media (max-width: 1100px) {
                        font-size: 15px;
                    }
                    @media (max-width: 768px) {
                        font-size: 14px;
                    }
                }
            }

            .loginForgotPassword {
                color: #006dff;
                font-size: 16px;
                font-weight: 900;
                padding-top: 16px;
                padding-bottom: 8px;
                cursor: pointer;
                @media (max-width: 768px) {
                    font-size: 14px;
                }
                @media (max-width: 600px) {
                    display: flex;
                    justify-content: flex-end;
                    font-size: 14px;
                }
            }
            .Login-inputDiv {
                margin-bottom: 18px;

                @media (max-width: 768px) {
                    margin-bottom: 10px;
                }
            }

            .loginInput .MuiFilledInput-underline:before,
            .loginInput .MuiFilledInput-underline::after {
                border-bottom: none !important;
            }
            .loginInput .MuiInputLabel-filled.MuiInputLabel-shrink {
                z-index: 1 !important;
                color: #6b6c6f;

                @media (max-width: 768px) {
                    font-size: 12px !important;
                }
            }
            .loginInput .MuiFormLabel-root.Mui-focused {
                color: #006df5;
            }

            .MuiFilledInput-adornedEnd {
                @media (max-width: 768px) {
                    padding-right: 0;
                }
            }

            .MuiFormControl-root {
                width: 100%;
                background-color: #fff;
                border-radius: 5px;
            }

            .MuiFilledInput-root {
                width: 100%;
                background-color: #fff !important;
                border: 1px solid #6b6c6f;
                border-radius: 5px;
            }

            .MuiFilledInput-root.Mui-focused {
                width: 100%;
                background-color: #fff !important;
                border: 1px solid #006df5;
                border-radius: 5px;
            }

            .MuiFilledInput-root.Mui-error {
                width: 100%;
                background-color: #fff !important;
                border: 1px solid red;
                border-radius: 5px;
            }

            .signInButton {
                width: 100% !important;
                height: 50px !important;
                font-size: 16px !important;
                line-height: 22px !important;
                font-weight: bold !important;
                margin-top: 22px !important;

                @media (max-width: 1440px) {
                    margin-top: 7px !important;
                }
                @media (max-width: 768px) {
                    margin-top: 0px !important;
                    height: 40px !important;
                    font-size: 12px !important;
                }
            }

            .signUpDiv {
                font-size: 14px;
                line-height: 18px;
                text-align: center;
                margin-top: 20px;

                .signUpText {
                    color: #006dff;
                    cursor: pointer;
                }

                @media (max-width: 768px) {
                    font-size: 12px;
                    line-height: 18px;
                    text-align: center;
                    margin-top: 10px;
                }
                @media (max-width: 600px) {
                    font-size: 14px;
                }
            }

            .googleButton {
                width: 100% !important;
                font-size: 16px !important;
                line-height: 22px !important;
                font-weight: bold !important;
                color: #333333 !important;
                text-align: center !important;
                margin-top: 10px;
                border: 1px solid #333333 !important;
                box-shadow: none !important;
                border-radius: 4px !important;
                height: 50px !important;

                span {
                    font-weight: bold !important;
                    width: 70% !important;
                    text-align: center !important;
                    font-size: 16px !important;

                    @media (max-width: 768px) {
                        font-size: 12px !important;
                    }
                }

                div {
                    @media (max-width: 768px) {
                        padding: 5px 10px !important;
                    }
                }

                @media (max-width: 768px) {
                    font-size: 12px !important;
                    height: 40px !important;
                    margin-top: 5px;
                }
            }

            .loginLineDiv {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin-top: 20px;
                .loginHrLine {
                    border-bottom: 1px solid #707070;
                    width: 43%;
                    display: flex;
                    flex-direction: column;
                    align-self: center;
                }

                @media (max-width: 1440px) {
                    margin-top: 7px !important;
                    height: 20px;
                }
                @media (max-width: 768px) {
                    margin-top: 2px !important;
                    font-size: 12px;
                }
            }

            @media (max-width: 2560px) {
                margin-left: 300px;
            }
            @media (max-width: 2000px) {
                margin-left: 250px;
            }
            @media (max-width: 1800px) {
                margin-left: 150px;
            }
            @media (max-width: 1440px) {
                padding: 18px;
                margin-top: 15px;
                margin-left: 100px;
            }

            @media (max-width: 1366px) {
                width: 360px;
                margin-left: 70px;
            }

            @media (max-width: 1100px) {
                width: 350px;
                margin-left: 0px;
                margin-top: 25px;
            }

            // @media (max-width: 768px) {
            //     width: 240px;
            //     padding: 10px;
            //     margin-top: 8px;
            //     margin-left: 30px;
            // }

            @media (max-width: 600px) {
                width: 100%;
                padding: 10px 0;
                margin-top: 15px;
                position: relative;
                border: none;
                box-shadow: none;
                margin-left: 0;
                background-color: unset;
            }

            .errorLogin {
                color: red;
                padding-top: 5px;
                text-align: left;
                margin-bottom: 20px;
            }
        }
    }
}
