.pod-card-main {
  border-bottom: 1px solid #eff2f7;
  padding: 15px 0px 15px 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;

  .nameImageDiv {
    width: 35%;

    .imageDiv {
      margin-bottom: 20px;
    }
    .nameDiv {
      color: #0c152e;

      font-family: Lato;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
    }
  }

  .checkboxDiv {
    width: 20%;
    .pod-card-button {
      text-transform: none !important;
      font-size: 13px !important;
      padding: 5px 10px !important;
      width: 100px !important;
    }
  }

  .discountDiv {
    width: 45%;

    background: url("../../Assets/images/Movers/discountTag.svg") no-repeat;
    padding: 5px 25px 5px 40px;
    color: #ffffff;
    font-size: 13px;
  }
}
.pod-card-head {
  background-color: #465b74;
  border-radius: 0px;
  .nameOffersDiv {
    color: white;

    font-size: 15px;
    line-height: 16px;
    font-weight: 700;
    width: 45%;
    padding-left: 50px;
    font-family: Lato;
  }
  .nameImageDiv {
    .nameDiv {
      color: white;
      font-size: 15px;
      line-height: 16px;
      font-weight: 700;
      text-align: left;
    }
  }
}
