.searchBar {
  background: #FFFFFF;  
  box-shadow: 0px 2px 80px rgba(12, 21, 46, 0.07), 0px 0.446726px 17.869px rgba(12, 21, 46, 0.0417275), 0px 0.133002px 5.32008px rgba(12, 21, 46, 0.0282725);
  border-radius: 4px;
  width: 100%;

  .MuiInput-underline:before, .MuiInput-underline:after{
    border-bottom: none;
  } 

  .MuiInput-underline:hover:not(.Mui-disabled):before, .MuiInput-underline:hover:not(.Mui-disabled):after {
    border-bottom: none;
  }

  .MuiInputBase-input {
    padding:  15px 0;
  } 

  .MuiInputAdornment-root {
    margin-left: 10px;
  }
  
}

.ArrowIcon{
  background-color: #75BA95;
  border-radius: 4px;
  padding: 5px 6px;
  cursor: pointer;
  color: #ffffff;
}

.SearchIcon {
  color: #75BA95;
}